{% block head %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %} - My Webpage</title>
  </head>
  {% endblock %}
  {% block nav %}
  <body>
   
    <!-- <h1>Our nav</h1> -->
    {% endblock %}


    {% block content %}{% endblock %}</div>
    
      <!-- {% block footer %}
      &copy; Copyright 2010 by <a href="http://domain.invalid/">you</a>.
      {% endblock %} -->
   
  </body>
</html>