*, *::before,*::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: aliceblue;
}


.card{
    height: 601px;
    width: 360px;
    margin: 2em auto; 
}
/* 
.pics{
    height: 499px;
    background-color: black;
    position: relative;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;

} */

/* .contents{
    z-index: 1;
    color: white;
    position: absolute;
    left: 1em;
    bottom: 1em;
} */


/* .controls{
    display: flex;
    justify-content: space-evenly;
    height: 102px;
    background-color: pink;
    color: black;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    
    
} */
















/* second card */

.FixedHeightContainer
{
    
    height: 601px;
    width: 360px;
    margin: 2em auto;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none; 
    /* margin-top: 5em; */
    position: relative;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;

}


/* img{
    height: 499px;
    width: 360px;
    object-fit: contain;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
} */


.Content
{
  height:601px;
   overflow:auto;
    background:#fff;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none; 
    margin:0 auto;
  
    justify-content: center;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

    
.Content::-webkit-scrollbar { 
    display: none;
    }
    
    
 img{
    height: 499px;
    width: 360px;
    object-fit: contain;
}

.controls-above{
    width: 360px;
    z-index: 1;
    color: white;
    position: absolute;
    /* left:90px; use css variable 1/4 card width */
    bottom: 1em;
    display: flex;
    justify-content:space-evenly;

}


.emptyspace{
    height: 6em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

span {
    display: flex;
    justify-content: space-evenly;
    margin: 1em;
    padding: 1em;
    background-color: blue;
}